// Place all the styles related to the twilio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
	margin-left: 40%;
}

footer{
	margin-left: 35%;
}

#user_phone{
	margin-left:7.5%;
}
.label{
	margin-left:8.75%;
}